@use "../abstracts/mixins" as *;

/* Smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

body {
	line-height: 20px;

	/* Font smoothing */
	text-rendering: geometricprecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include breakpoint-down(medium) {
		line-height: 16px;
	}
}

/* Reduce widows and orphans */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
caption,
figcaption,
li {
	text-wrap: pretty;
}

/* Remove double-bold headings */
.wp-block-heading strong,
.wp-block-heading b {
	font-weight: inherit;
}