[submodule "mu-plugins/colophon"]
	path = mu-plugins/colophon
	url = https://github.com/a8cteam51/colophon
[submodule "mu-plugins/team51-tracking"]
	path = mu-plugins/team51-tracking
	url = https://github.com/a8cteam51/team51-tracking