/**
 * Page
 * - Description of page styles
 */
.wp-theme-style {
    background-color: #21759b;
    color: #fff;
    padding: 2px;
    appearance: auto; // Added to test autoprefixer via postcss
    direction: ltr; // Added to test rtlcss
}
